{% extends "layout/external.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
      body {
          background-color: #DADADA;
      }

      body>.grid {
          height: 100%;
      }

      #login-block {
          margin-top: 200px;
      }

      .column {
          max-width: 450px;
      }
  </style>
  <script>
    $(document)
        .ready(function () {
          $('.ui.form')
            .form({
              fields: {
                email: {
                  identifier: 'email',
                  rules: [
                    {
                      type: 'empty',
                      prompt: 'Please enter your e-mail'
                    },
                    {
                      type: 'email',
                      prompt: 'Please enter a valid e-mail'
                    }
                  ]
                },
                password: {
                  identifier: 'password',
                  rules: [
                    {
                      type: 'empty',
                      prompt: 'Please enter your password'
                    },
                    {
                      type: 'length[6]',
                      prompt: 'Your password must be at least 6 characters'
                    }
                  ]
                }
              }
            });
        });
    </script>
{% endblock %}
{% block content %}
  <div id="login-block" class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <!-- <img src="assets/images/logo.png" class="image"> -->
        <div class="content">
          Tabletop Utils
        </div>
      </h2>
      <br />
      <form class="ui large form" action="/login" method="POST">
        {{ form.csrf_token }}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large blue submit button">Login</div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
{% endblock %}