<html lang="en">

<head>
  {% block head %}
  <!-- <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title> -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
  {% endblock %}
</head>

<body>
  <div id="site-nav" class="ui fixed massive menu">
    <a href="/" class="item active">
      Home
    </a>
    <div class="ui dropdown item">
        Wargaming <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/wargaming/rosters">Rosters</a>
        </div>
      </div>
    <div class="right menu">
      <a class="item" href="/logout">Logout</a>
    </div>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
      <script>
        $('.ui.dropdown').dropdown();
      </script>
    {% endblock %}
  </div>
</body>

</html>
