<html lang="en">

<head>
  {% block head %}
  <!-- <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title> -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
  {% endblock %}
</head>

<body>
  <div class="ui massive menu">
    <a href="/wargaming" class="active item">
      War gaming
    </a>
    <!-- <a class="item">
      Wargaming
    </a> -->
    <div class="right menu">
      <!-- <div class="ui dropdown item">
        Test <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Option 1</a>
          <a class="item">Option 2</a>
          <a class="item">Option 3</a>
        </div>
      </div> -->
      <a class="item" href="/logout">Logout</a>
    </div>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    {% block footer %}
      <script>
        $('.ui.dropdown').dropdown();
      </script>
    {% endblock %}
  </div>
</body>

</html>
